.window {
  height: 400px;
  width: 600px;

  background-color: #000000;
  border-radius: 0.5rem;
  overflow: hidden;
  color: rgb(169, 168, 168);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

    font-weight: 500;
  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.396);
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .dots {
      display: flex;
      gap: 0.2rem;

      .dot {
        height: 15px;
        width: 15px;
        background-color: #ffffff;

        border-radius: 50%;
      }

      .red {
        background-color: rgb(206, 43, 43);
      }

      .yellow {
        background-color: rgb(214, 214, 46);
      }
      .green {
        background-color: rgb(37, 158, 37);
      }
    }
  }
}
